<% include head %>

<body>
    <header class="titulo-principal">
        <h1>NodePop</h1>
    </header>
    <main class="principal">

    <% include busquedas_y_inserciones %>

    <section id="anuncios" class="anuncios">
        
    </section>

    </main>

    <script src="javascripts/js.js"></script>

</body>
</html>