
<% include head %>

<body>
    <header class="titulo-principal">
        <h1>NodePop</h1>
        <ul class="menu-idioma">
            Idioma: 
                <% getLocales().forEach( lang => {%>
                <a class="menu-item" href="/lang/<%= lang %>"><%= lang %></a>
                <% }) %>
        </ul>
    </header>
    
    <br>

    <p>Las miniaturas despues de hacer una insercion se guardan en la ruta del proyecto en.. <b style="color: white">micro-servicio/thums/</b></p>

    <main class="principal">


        

    <% include busquedas_y_inserciones %>
    
    <section id="anuncios" class="anuncios">
        
    </section>



    </main>

    <aside class="container-tags">
        <h4>Tags</h4>
        <div class="cajas">
            <ul>

<% for (let i = 0; i < ltags.length; i++) { %>
                <li> <%= ltags[i] %> </li>
<% } %>
                
            </ul>
        </div>
    </aside>



    <script src="javascripts/js.js"></script>

</body>
</html>