
<% include head %>

<body>
    <header class="titulo-principal">
        <h1>NodePop</h1>
    </header>


    <section class="container-tags">
        <h3>Tags</h3>
        <div class="cajas">
            <ul>

<% for (let i = 0; i < ltags.length; i++) { %>
                <li> <%= ltags[i] %> </li>
<% } %>
                
            </ul>
        </div>
    </section>



    <script src="javascripts/js.js"></script>

</body>
</html>